header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-sizing: border-box;
    background-color: $blue-900;
    height: 60px;
}



header h1.logo {
    padding: 20px 0 0 24px;
    height: 40px;
    width: 97px;
}